.card-container {
  display: flex;
  justify-content: center;
}

.back-button {
  margin: 20px;
}
.back-icon {
  padding-right: 5px;
}
.post-view {
  max-width: 800px;
  margin-bottom: 40px;
  word-break: break-word;
}
