<div *ngIf="(posts$ | async)?.length === 0">No posts added yet!</div>
<div class="sorting">
  <mat-button-toggle-group
    aria-label="SortPosts"
    value="newest"
    #group="matButtonToggleGroup"
  >
    <mat-button-toggle value="newest" (click)="sortPosts(group.value)"
      >Newest to oldest</mat-button-toggle
    >
    <mat-button-toggle value="oldest" (click)="sortPosts(group.value)"
      >Oldest to newest</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>
<div *ngFor="let post of posts$ | async" class="card-container">
  <mat-card class="post-list">
    <a [routerLink]="['/post', post.id]" class="to-detail">
      <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>{{
          post.createdAt | date: "full"
        }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ post.img }}" alt="Post photo" />
      <mat-card-content>
        <p>
          {{ post.content | slice: 0:300
          }}{{ post.content.length > 300 ? "..." : "" }}
        </p>
      </mat-card-content>
    </a>
    <mat-card-actions>
      <button [routerLink]="['/edit', post.id]" mat-raised-button>
        EDIT
      </button>
      <button mat-raised-button (click)="deletePost(post)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
